@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
/*contenido del curriculum*/
* {
    font-family: "titillium web";
margin: 0;
padding: 0;
}
html{
scroll-behavior: smooth;
}

/*Sección encabezado*/
.inicio{
    height: 570px;
    background: linear-gradient(rgba(0, 80, 200, 0.15), rgba(0, 80, 200, 0.15)),
    url("imagen fondo.jpg");
    background-size:cover;
    background-position: center center;
    color: #fff;
    text-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
.inicio .contenido{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido header{
    padding: 30px;
}
.inicio .contenido header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #940253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none; /*activarlo con js*/
}
.inicio .contenido header .navegador-cabecera{
    position: fixed;
    background-color:#00d4ff ;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}
.inicio .contenido header .navegador-cabecera:hover{
    box-shadow: 0 0 35px #000;
}
.inicio .contenido header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.inicio .contenido header .Iniciales{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    color:  #007BFF;
}
.inicio .contenido header .color-iniciales{
    color: #1a1a1a;
    font-family: "yellowtail";
}

/*informacion personal*/

.inicio .contenido .informacion-personal{
    padding-bottom: 100px;
}
.inicio .contenido .informacion-personal h1{
    font-size: 40px;
    letter-spacing: 5px;
}
.inicio .contenido .informacion-personal h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: 0px;
    letter-spacing: 3px;
}
.inicio .contenido .informacion-personal .redes{
    margin: 20px;
}
.inicio .contenido .informacion-personal .redes a{
    display: inline-block;
    text-decoration: none;
   
    color: #7d0d0d;
    border: 1px solid #839402;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0,0,0,0.6)
}
.inicio .contenido .informacion-personal .redes a:hover{
    color:#fff;
    background-color: #940253;
}
.inicio .contenido .foto{
    position: relative;
}
.inicio .contenido .foto img{
    width: 190px;
    border-radius: 50%;
    border: 5px solid #940202;
    margin-top: -90px; 

}
/*seccion descripcion*/

.contenido-seccion .titulo-seccion{
    font-family: "Yellowtail";
    font-size: 40px;
     position: relative;  
    width:290px;
  margin: auto;
  padding: 20px;
}    
.descripcion .contenido-seccion {
    margin-top: 20px;
    background-color: #c2ecf3;
}
.texto-sobre-mi{
    margin-top: 5px;       
  font-size: 18px;         
  line-height: 1.6;         
  text-align: center;      
  max-width: 850px; 
  margin: 20px auto;

}
.contenido-seccion .Perfil-ubicacion-intereses{
    display: flex;
justify-content: center;
    gap: 200px;
    margin-top: 80px;
    
  
}
.contenido-seccion .Perfil-ubicacion-intereses i{
    color: #940253;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
}
.contenido-seccion .Perfil-ubicacion-intereses h4{
    display: block;
    font-weight: bold;
    margin: 8px 0;
    height: 30px;
}

.contenido-seccion .Perfil-ubicacion-intereses p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    line-height: 30px;
    width: 225px;
}   

/*Seccion habilidades*/
.habilidades{
    margin-top: 50px;
    padding: 0px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #000000;
}
.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.habilidades .contenido-seccion h2{
font-family: "Yellowtail";
    font-size: 40px;
     position: relative;
    top: 20px;   
    width: 250px;
    margin: auto;
}   
.habilidades .contenido-seccion .Division-de-conocimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;   
}
.habilidades .contenido-seccion .Division-de-conocimientos .marco-barra{
    display: flex;
    align-items: center;
}
.habilidades .contenido-seccion .Division-de-conocimientos .Elemento-1{
    width: 87%;
    text-align: left;   
}
.habilidades .contenido-seccion .marco-barra{
    display: flex;
    border: 1px solid #940253;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

/*Sección de resumen*/

.resumen{
    background-color: #e6e6e6;
    padding: 20px;
    margin-top: 50px;
   
}
.resumen .contenido-resumen{
    margin: 50px;
    align-items: center;
}
.resumen .contenido-resumen h2{
 font-family: "Yellowtail";
    font-size: 40px;
     position: relative;
     text-align: center;   
    width: 300px;
    margin: auto;
   
}
.resumen .contenido-resumen .Educacion-experiencia-laboral{
    
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    gap: 10px;
    margin: 40px;
    
}

.resumen .contenido-resumen .Educacion-experiencia-laboral .Experiencia-laboral{
    width: 45%;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Educacion .titulo{
    display: inline-block;
    color: #940253;
    font-weight: bold;
    border: 2px solid #940253;
    padding: 10px;
}

.resumen .contenido-resumen .Educacion-experiencia-laboral .Experiencia-laboral .titulo{
    display: inline-block;
    color: #940253;
    font-weight: bold;
    border: 2px solid #940253;
    padding: 10px;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Educacion table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Experiencia-laboral table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Educacion table .fecha{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Experiencia-laboral table .fecha{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Educacion table .fecha h3{
    margin-top: 10px;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Experiencia-laboral table .fecha h3{
    margin-top: 10px;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Educacion table p{
    font-size: 14px;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Experiencia-laboral table p{
    font-size: 14px;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Educacion table h4{
 font-size: 20px;
margin-bottom: 5px;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Experiencia-laboral table h4{
font-size: 20px;
margin-bottom: 5px;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Educacion table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}
.resumen .contenido-resumen .Educacion-experiencia-laboral .Experiencia-laboral table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

/*Seccion contacto*/
.contacto{
    background-color: #bea5a5;
    padding: 30px;
    color: #080000;
    text-align: center;
    margin-top: 50px;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion .titulo-seccion{
    font-size: 50px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
}
.contacto .contenido-seccion .Telefono-correo{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.contacto .contenido-seccion .Telefono-correo .telefono{
    margin-top: 50px;
}
.contacto .contenido-seccion .Telefono-correo .Correo{
    margin-top: 50px;
}
.contacto .contenido-seccion .Telefono-correo h2{
    color: #940253;
}
/*responsive*/

@media screen and (max-width:800px){

.habilidades .contenido-seccion .Division-de-conocimientos{
        display: block;
    }
.habilidades .contenido-seccion .Division-de-conocimientos .Elemento-1{
        width: 100%;
        text-align: center;
    }
.habilidades .contenido-seccion .Division-de-conocimientos .Elemento-1 .marco-barra{
    justify-content: center;
}
}
.descripcion .contenido-seccion .titulo-seccion{
    display: block;
}
.descripcion .contenido-seccion .titulo-seccion .texto-sobre-mi{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.resumen .contenido-resumen .titulo{
    display: block;
}
.resumen .contenido-resumen .titulo .Educacion-experiencia-laboral{
    width: 90%;
    margin: auto;
}
.resumen .contenido-resumen .titulo .Educacion-experiencia-laboral .titulo{
   display: block;
    text-align: center;
}
.resumen .contenido-resumen .titulo .Educacion-experiencia-laboral .Educacion table{
    margin-top: 10px;
    margin-bottom: 30px;
}
.contacto .contenido-seccion .titulo-seccion{
    display: block;
}